*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(3,3,63);
    height: auto;
    width: 100vw;
    border:10px solid palevioletred;
}
.content{
    max-width: 980px;
    margin: 0 auto;
}
.top_section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;

}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
}
.top_section h4{
text-align: end;
font-size: 30px;
color: aliceblue;
}
.img{
    border-radius: 50%;
    overflow: hidden;
}
.img, img{
width: 400px;
height: 350px;
}
.about_section{
    margin-top: 20px;

}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    color: aliceblue;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    color: aliceblue;
    text-align: justify;
}
.biography_section{
    color: aliceblue;
    margin: 60px 0px;

}

.biography_section h2{
    margin-bottom: 20px;
}
.biography_section ul{
    margin-left: 60px;
}
.biography_section li{
    margin-bottom: 15px;
    font-size: 20px;
    text-align: justify;
}
footer{
color: aliceblue;
margin: 50px 0px;
text-align: end;
font-size: 20px;
}
footer a{
    color: palevioletred;
}